@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body, input, textarea, button, select {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

header nav ul {
color: #5CA4EA;
background-color: white;
border-bottom: 1px solid #CCC;
box-sizing: border-box;
list-style: none;
margin-top: 0;
margin-bottom: 2em;
padding: 0 0 0 1em;
}

header nav ul li {
display: inline-block;
margin: 0 1em;
padding: 1em 0 1em 0;
}

header nav ul li a {
font-weight: bold;
text-decoration: none;
}

input {
height: 1.5em;
margin: 0;
padding: .25em .5em;
}

select {
height: 2.5em;
}

select[multiple] {
height: 7.5em;
}

textarea {
margin: 0;
padding: .25em .5em;
}

table {
    width: 100%;
  }

.login-form {
background-color: white;
border-radius: 4px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
margin: auto;
max-width: 400px;
padding: 2em;
}

.h1 {
    margin-top: 0;
  color: #00245e;

    }

.login-form button {
    padding: 0.25em 1em;
  }


.button-15 {
background-image: linear-gradient(#42A1EC, #0070C9);
border: 1px solid #0077CC;
border-radius: 4px;
box-sizing: border-box;
color: #FFFFFF;
cursor: pointer;
direction: ltr;
display: block;
font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 17px;
font-weight: 400;
letter-spacing: -.022em;
line-height: 1.47059;
min-width: 30px;
overflow: visible;
padding: 4px 15px;
text-align: center;
vertical-align: baseline;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
}

/* .button-15:enabled {
color:#00245e;
cursor: default;
opacity: .7;
} */

.button-15:hover {
background-image: linear-gradient(#51A9EE, #147BCD);
border-color: #1482D0;
text-decoration: none;
}

.button-15:active {
background-image: linear-gradient(#3D94D9, #0067B9);
border-color: #006DBC;
outline: none;
}

.button-15:focus {
box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
outline: none;
}